#displayPanel {
    background-color: #242526;
    color: #fae19b;
    padding: 0.2rem;
    position: absolute;
    transition: all 1.5s;
}
.display-table span {
    color: #dadce1;
    padding: 0.3rem;
    background-color: #484a4d;
}
.display-table label {
    font-size: large;
    font-weight: 700;
}
.display-table td {
    padding: 0.2rem;
}

.display-table tr {
    vertical-align: middle;
}

.search-box {
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
}

/* .input {
	
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 3px;
	display: inline-block;
    border-radius: 9999em;
	
}

.search-box {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1;

}

.search-box:focus + span {
    opacity: 1;
    transform: scale(1);
}

span {
    
    transform: scale(.993, .94); 
    transition: transform .5s, opacity .25s;
    opacity: 0; 
    
    position:absolute;
    z-index: 0; 
    margin:4px;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius: inherit;
    pointer-events: none;

    box-shadow: inset 0 0 0 3px #fff,
        0 0 0 4px #fff,
        3px -3px 30px #1beabd, 
        -3px 3px 30px #10abff;
} */

#input {
    margin-top: 30px;
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #dadce1, #fae19b);
    padding: 1px;
    display: inline-block;
    border-radius: 9999em;
    transition: all 100ms;
}

#search-box {
    text-align: center;
    color: #dadce1;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    background-color: #242526;
}

#search-box:focus {
    border-bottom: 1px solid #fae19b;
}